// Taken from https://github.com/morhetz/gruvbox

$dark-bg: #002451;
$dark-red: #ff9da4;
$dark-green: #d1f1a9;
$dark-yellow: #ffeead;
$dark-blue: #bbdaff;
$dark-purple: #ebbbff;
$dark-aqua: #bbfff8;
$dark-gray: #4d5057;

$dark-gray2: #4d5057;
$dark-red2: #ff9da4;
$dark-green2: #d1f1a9;
$dark-yellow2: #ffeead;
$dark-blue2: #bbdaff;
$dark-purple2: #ebbbff;
$dark-aqua2: #bbfff8;
$dark-fg: #4d5057;

$dark-bg0_h: #002451;
$dark-bg0: #002451;
$dark-bg1: #002451;
$dark-bg2: #002451;
$dark-bg3: #002451;
$dark-bg4: #002451;
$dark-gray3: #4d5057;
$dark-orange: #ffc58f;

$dark-bg0_s: #002451;
$dark-fg4: #ffffff;
$dark-fg3: #ffffff;
$dark-fg2: #ffffff;
$dark-fg1: #ffffff;
$dark-fg0: #ffffff;
$dark-orange2: #ffc58f;
