// Taken from https://github.com/chriskempson/tomorrow-theme/

$light-bg: #ffffff;
$light-red: #c82829;
$light-green: #718c00;
$light-yellow: #eab700;
$light-blue: #4271ae;
$light-purple: #8959a8;
$light-aqua: #429aae;
$light-gray: #efefef;

$light-gray2: #efefef;
$light-red2: #c82829;
$light-green2: #718c00;
$light-yellow2: #eab700;
$light-blue2: #4271ae;
$light-purple2: #8959a8;
$light-aqua2: #429aae;
$light-fg: #efefef;

$light-bg0_h: #ffffff;
$light-bg0: #ffffff;
$light-bg1: #ffffff;
$light-bg2: #ffffff;
$light-bg3: #ffffff;
$light-bg4: #ffffff;
$light-gray3: #efefef;
$light-orange: #f5871f;

$light-bg0_s: #ffffff;
$light-fg4: #4d4d4c;
$light-fg3: #4d4d4c;
$light-fg2: #4d4d4c;
$light-fg1: #4d4d4c;
$light-fg0: #4d4d4c;
$light-orange2: #f5871f;
