

$light-bg: #ffffff;
$light-yellow: #F6BF26;
$light-magenta: #AD1457;
$light-blue: #3E51B5;
$light-green: #0b7f43;
$light-gray: #7c6f64;

$dark-yellow: #F6BF26;
$dark-magenta: #AD1457;
$dark-blue:  #3E51B5;
$dark-green: #0b7f43;


$light-fg: #3c3836;
