body{
    font-family: "Montserrat", sans-serif;
}

.links {
    display: flex;
    padding: 0;
}

.logo {
    padding-left: 5%;
    flex: 1;
}

.resource-link{
    flex: 0.5;
    text-align: center;
}


.links > li {
    display: inline;
    position: relative;
}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5rem;
}

a:visited {
    color: black;
}

