.lightSwitch {
    position: absolute;
    top: -1.5em;
    right: max(1em, calc((100vw / 2) - 28rem));
    text-align: center;
    cursor: pointer;
    z-index: 1021;
}

.roundedCircle {
    width: 0.3em;
    height: 0.8em;
    border: 2px dashed #BA7447;
    margin: 0 auto;
} 



.knob {

    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    
    font-size: 1.2em;
    display: inline-block;
    background-image: radial-gradient(
        circle at 100%,
         #512614,
          #A1623A,
        #BA7447,
            #EDC38B,
            #B27449,
        #DDAB77,
            #EAC4AE,
            #B67E4E,
        #5B2D17,
            #44271C);
}


.pullDown {
    animation: PullCord 0.6s linear;
}

@keyframes PullCord {
    0%, 100% {
        top: -1.5em;
    }
    50% {
        top: 0;
    }
}